<div class="container">

    <div class="row">

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="width:80%; left: 10%">
            <h2 style="text-align: center">Выберите режим</h2>
            <div class="row" style="padding-top: 50px">
                <button type="submit" style="text-align: center; width: 100%;" class="btn btn-primary" onclick="window.location.href='/leader'">Ведущий</button>
                <p><br></p>
                <button type="submit" style="text-align: center; width: 100%;" class="btn btn-primary" onclick="window.location.href='/musician'">Музыкант</button>
            </div>
        </div>

    </div><!--/row-->

</div><!--/.container-->
