<style>
    .purchase-list {
        max-height: calc(100vh - 100px);
        overflow: auto;
    }
    .prod-list-item {
        position: relative;
        margin-top: 5px;
        margin-left: 0px;
        padding-bottom: 3px;
        padding-right: 12px;
        border-bottom: 1px solid #d0d0d0;
    }
    .new-list-item {
        padding-left: 12px;
        padding-right: 5px;
    }
    .new-list-btn {
        padding-right: 12px;
        padding-left: 0px;
    }
    .item-text {
        font-size: 18pt;
        display: inline-block;
        vertical-align: middle;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
        margin: 0;
    }
    .search-box {
        height: auto;
        font-size: 18pt;
    }
    .angucomplete-row {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16pt !important;
    }
</style>

<div ng-controller="Leader" class="container">

    <div style="position: absolute; width: 100%; text-align: left; padding-left: 12px; z-index: 1000">
    </div>

    <div class="row">

        <!-- Search input -->
        <div class="col-xs-12 new-list-item"
             style="margin-top: 55px; margin-bottom: 30px">
            <angucomplete-alt id="ccf6"
                              placeholder="название или номер"
                              pause="100"
                              local-data=songList
                              search-fields="dispName"
                              title-field="dispName"
                              selected-object="selectedItem"
                              minlength="2"
                              input-class="form-control search-box">
            </angucomplete-alt>
        </div>

        <div class="col-xs-12 col-sm-12 purchase-list"
             style="margin-top: 20px">

            <div class="row prod-list-item"
                 ng-repeat="listItem in favorites">
                    <span class="btn btn-danger col-xs-1" ng-click="deleteFavoriteItem(listItem.FID, listItem.dispName)">&nbsp;X&nbsp;</span>
                    <span class="col-xs-9 item-text">{{ listItem.dispName }}</span>
                    <img class="col-xs-2"
                         ng-attr-id="{{ 'img' + listItem.ID }}"
                         ng-src="{{ listItem.imageName }}"
                         ng-click="openFullscreen(listItem.ID, listItem.NUM)"/>
            </div>
            <div>
                <button class="btn btn-primary" style="margin-top: 30px" ng-click="clearFavorites()">Очистить список</button>
            </div>
        </div>

    </div>

    <div id="confirmation-dialog">
        <div class="modal fade confirmation-dialog" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ confirmationDialogConfig.title }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="span5"><strong>{{ confirmationDialogConfig.message }}</strong></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="button" ng-repeat="button in confirmationDialogConfig.buttons" ng-click="button.action()" class="btn btn-primary">{{ button.label }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/leader.js?v=10023" type="text/javascript"></script>

<script type="text/javascript">
    function forceFullScreen(){}
</script>