<div class="container">

    <div class="row">

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="width:80%; left: 10%">
            <h1 style="text-align: center; margin-top: 100px">Введите логин и пароль</h1>
            <div class="row" style="padding-top: 100px">
                <form action="/login">
                    <input type="text"
                           style="width: 50%; font-size: 12pt; margin-left: 25%"
                           id="login_id"
                           name="login" placeholder="логин" />
                    <p><br></p>
                    <input type="password"
                           style="width: 50%; font-size: 12pt; margin-left: 25%"
                           id="pass_id"
                           name="pass" placeholder="пароль" />
                    <p><br><br><br></p>
                    <button type="submit" style="text-align: center; width: 50%; font-size: 18pt; margin-left: 25%"
                            class="btn btn-primary btn-lg">Войти</button>
                </form>
            </div>
        </div>

    </div><!--/row-->

</div><!--/.container-->
