<div ng-controller="Sermon" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%">
            <div class="row" style="padding-top: 20px">
                <li style="text-align: center;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                        width: 100%; font-size: 12pt"
                    class="btn btn-default btn-lg noHover">Проповедь — <?php echo $_SESSION['userName'] ?></li>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 40px; text-align: center;">
        <h2>Режим «Проповедь»</h2>
        <p style="color: gray;">Режим в разработке</p>
    </div>
</div>

<script src="/js/sermon.js?v=1" type="text/javascript"></script>
