<style>
    .prod-list-item {
        position: relative;
        margin-top: 5px;
        margin-left: 0px;
        padding-bottom: 3px;
        padding-right: 12px;
        border-bottom: 1px solid #d0d0d0;
    }
    .item-text {
        font-size: 18pt;
        display: inline-block;
        vertical-align: middle;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
        margin: 0;
    }
    .text-chapter {
        width: 97%;
        padding: 10px;
        border: solid 1px silver;
        border-radius: 10px;
        margin: 10px;
    }
    .song-name {
        width: 97%;
        padding: 20px;
        border: solid 1px silver;
        border-radius: 20px;
        margin: 20px;
        margin-left: 0px;
    }
    .box-selected {
        background-color: #DdDdDd;
    }
    .chapter-selected {
        background-color: #c5f5c5;
    }
    .search-box {
        height: 32pt;
        font-size: 18pt;
    }
    .angucomplete-row {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16pt !important;
    }

    .btn-selected, .btn-list:active, .btn-list:focus, .btn-list:hover {
        background-color: #d9ffd9;
        outline: none;
    }
</style>

<div ng-controller="Tech" class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%">
            <div class="row" style="padding-top: 20px">
                <li style="text-align: center;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                        width: 100%; font-size: 12pt"
                    class="btn btn-default btn-lg noHover">Текущие песни для церкви: <?php echo $_SESSION['userName'] ?></li>
            </div>
        </div>
    </div>

    <!-- List of active songs -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"
             style="margin-top: 20px; overflow: hidden">

            <div class="row song-name"
                 ng-repeat="listItem in favorites"
                 ng-class="{'box-selected': showingSong === listItem}"
                 ng-click="prepareText(listItem.TEXT, listItem)">

                <span class="col-sm-12 col-md-12 col-lg-12 item-text">{{ listItem.dispName }}</span>
                <img class="col-sm-3 col-md-3"
                     ng-src="{{ listItem.imageName }}"/>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6"
             style="margin-top: 30px; overflow: hidden">

            <div class="row"
                 ng-repeat="chapter in preparedChapters">

                <span class="col-sm-12 col-md-12 col-lg-12 text-chapter"
                      ng-class="{'chapter-selected': showingChapter === chapter}"
                      ng-click="toggleCurrentTextChapter(chapter)">{{ chapter }}</span>
            </div>
        </div>

    </div>


</div>

<script src="/js/tech.js?v=10023" type="text/javascript"></script>

