<style>
    .prod-list-item {
        position: relative;
        margin-top: 5px;
        margin-left: 0px;
        padding-bottom: 3px;
        padding-right: 12px;
        border-bottom: 1px solid #d0d0d0;
    }
    .item-text {
        font-size: 18pt;
        display: inline-block;
        vertical-align: middle;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
        margin: 0;
    }
    .text-chapter {
        width: 97%;
        padding: 10px;
        border: solid 1px silver;
        border-radius: 10px;
        margin: 10px;
    }
    .song-name {
        width: 97%;
        padding: 20px;
        border: solid 1px silver;
        border-radius: 20px;
        margin: 20px;
        margin-left: 0px;
    }
    .box-selected {
        background-color: #faefdd;
    }
    .chapter-selected {
        background-color: #c5f5c5;
    }
    .songlist-btn {
        height: 24pt;
        font-size: 14pt;
        border-radius: 5px;
    }
    .search-box {
        height: 32pt;
        font-size: 18pt;
    }
    .angucomplete-row {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16pt !important;
    }

    .btn-selected, .btn-list:active, .btn-list:focus, .btn-list:hover {
        background-color: #d9ffd9;
        outline: none;
    }
    .delete-button {
    }
</style>

<div ng-controller="Tech" class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%">
            <div class="row" style="padding-top: 20px">
                <li style="text-align: center;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                        width: 100%; font-size: 12pt"
                    class="btn btn-default btn-lg noHover">Текущие песни для церкви: <?php echo $_SESSION['userName'] ?></li>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-s-3 col-md-3"
             style="margin-top: 20pt">
            <button class="btn btn-sm btn-default songlist-btn btn-list"
                    ng-class="listId == 1 ? 'btn-selected' : ''"
                    style="width: 100%" ng-click="setList(1)" >Донецк</button>
        </div>
        <div class="col-xs-3 col-s-3 col-md-3"
             style="margin-top: 20pt">
            <button class="btn btn-sm btn-default songlist-btn btn-list"
                    ng-class="listId == 2 ? 'btn-selected' : ''"
                    style="width: 100%" ng-click="setList(2)">Москва</button>
        </div>
        <div class="col-xs-3 col-s-3 col-md-3"
             style="margin-top: 20pt">
            <button class="btn btn-sm btn-default songlist-btn btn-list"
                    ng-class="listId == 3 ? 'btn-selected' : ''"
                    style="width: 100%" ng-click="setList(3)">Вильнюс</button>
        </div>
        <div class="col-xs-3 col-s-3 col-md-3 pull-right"
             style="margin-top: 20pt">
            <button class="btn btn-sm btn-primary songlist-btn" style="width: 100%" ng-click="openList()">Весь список</button>
        </div>
        <div class="col-xs-4 col-s-4 col-md-4"
             style="margin-top: 20pt">
            <button class="btn btn-sm btn-default songlist-btn btn-list"
                    ng-class="listId == 4 ? 'btn-selected' : ''"
                    style="width: 100%" ng-click="setList(4)">Сольные (Рига)</button>
        </div>
        <div class="col-xs-5 col-s-5 col-md-5"
             style="margin-top: 20pt">
            <button class="btn btn-sm btn-default songlist-btn btn-list"
                    ng-class="listId == 5 ? 'btn-selected' : ''"
                    style="width: 100%" ng-click="setList(5)">Сольные (Вильнюс)</button>
        </div>
        <div class="col-xs-3 col-s-3 col-md-3 pull-right"
             style="margin-top: 20pt">
            <button class="btn btn-sm btn-warning songlist-btn" style="width: 100%" ng-click="addSong()" disabled>&#x2190; Добавить</button>
        </div>
    </div>

    <!-- Search input -->
    <div class="row">
        <div class="col-s-12 col-md-12 col-xs-12"
             style="margin-top: 20pt; margin-bottom: 30px">
            <angucomplete-alt id="ccf6"
                              placeholder="название или номер"
                              pause="100"
                              local-data=songList
                              search-fields="dispName,TEXT"
                              title-field="dispName"
                              selected-object="selectedItem"
                              minlength="2"
                              input-class="form-control search-box">
            </angucomplete-alt>
        </div>

        <!-- List of active songs -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"
             style="margin-top: 20px; overflow: hidden">

            <div class="row song-name"
                 ng-repeat="listItem in favorites"
                 ng-class="{'box-selected': showingSong === listItem}"
                 ng-click="prepareText(listItem.TEXT, listItem)">
                <span class="col-sm-12 col-md-12 col-lg-12 item-text">{{ listItem.dispName }}</span>
                <img class="col-sm-3 col-md-3"
                     ng-src="{{ listItem.imageName }}"/>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6"
             style="margin-top: 30px; overflow: hidden">

            <div class="row"
                 ng-repeat="chapter in preparedChapters">

                <span class="col-sm-12 col-md-12 col-lg-12 text-chapter"
                      ng-class="{'chapter-selected': showingChapter === chapter}"
                      ng-click="toggleCurrentTextChapter(chapter)">{{ chapter }}</span>
            </div>
        </div>
    </div>


        <div style="margin-bottom: 100px">
            <button class="btn btn-warning btn-lg" style="margin-top: 30px; font-size: 12pt" ng-click="clearFavorites()">Очистить список</button>
        </div>


        <div id="list-popup">
            <div class="modal fade list-popup" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row"
                                 style="padding-top: 10px; padding-bottom: 10px; border-bottom: #204d74 solid 1px"
                                 ng-repeat="song in songList">
                                <div class="col-xs-9 col-s-9 col-md-9" style="font-size: 16pt">
                                    {{ song.dispName }}
                                </div>
                                <div class="col-xs-3 col-s-3 col-md-3">
                                    <button class="btn btn-lg" style="font-size: 16pt" ng-click="addSongToFavorites(song.ID)">Выбрать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="add-song-popup">
            <div class="modal fade add-song-popup" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-9 col-s-9 col-md-9" style="font-size: 16pt">
                                    <input capture
                                           accept="image/*"
                                           id="imageCapDialog"
                                           type="file"
                                           ng-model="addConfig.image"
                                           change="uploadPhoto(addConfig)" />
                                </div>
                                <div class="col-xs-3 col-s-3 col-md-3">
                                    <button class="btn btn-lg" style="font-size: 16pt" ng-click="addSongToFavorites(song.ID)">Выбрать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="confirmation-dialog">
            <div class="modal fade confirmation-dialog" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">{{ confirmationDialogConfig.title }}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="span5" style="font-size: 12pt"><strong>{{ confirmationDialogConfig.message }}</strong></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    style="font-size: 12pt"
                                    class="btn btn-default btn-lg"
                                    data-dismiss="modal">Отмена</button>
                            <button type="button"
                                    style="font-size: 12pt"
                                    ng-repeat="button in confirmationDialogConfig.buttons"
                                    ng-click="button.action()"
                                    class="btn btn-warning btn-lg">&nbsp;&nbsp;&nbsp;{{ button.label }}&nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

<script src="/js/tech.js?v=10023" type="text/javascript"></script>

