<style>
    body {
        margin: 0;
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
    }
    #text-container {
        width: 80vw;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #text {
        width: 100%;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
</style>
<div ng-controller="Text" class="container">

    <div id="text-container" ng-click="enterFullscreen()">
        <div id="text" ng-style="{'font-size': fontSize + 'px'}">{{ text }}</div>
    </div>
</div>

<script src="/js/text.js?v=10029" type="text/javascript"></script>
